.app{
  display:flex;
  flex-direction: column;
  -ms-flex-align: center;
}

.nasa-logo{
  margin:auto;
  width:500px;
  height:300px;
}

.search-results{
  align-self: centre;
  align-items: centre;
}